/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles  
   ========================================================================== */
  html,
  body {
    width: 100%;
    height:100%;
    font-size:1em;
}

  .content-wrapper {
    width:80%;
}

  h1,
  p {
    font-family: 'Open Sans', sans-serif;
}

  h2,
  h3,
  h4 {
    font-family: 'Poppins', sans-serif;
    font-weight:normal;
}

  img {
   width:100%;
}

   /*-------------- BASE HEADER --------FOOTER STYLES--------------*/

  header,
  footer {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow:row wrap;
    background-color: black;
}

  footer {
    padding-top:40px;
}

  header .content-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow:row wrap;
    width:100%;
}

  header figure {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow:row wrap;
    width:60%;
}

  header figure img {
    width:80%;
    padding-left:1.25em;
}

  .header-divider {
    width:100%;
    border: rgb(87, 87, 87) solid 0.063em;
}

  header nav {
    display:flex;
    justify-content: center;
    align-items: center;
    width:60%;
    text-transform: uppercase;
}

  header nav ul {
    display:flex;
    justify-content: space-around;
    width:100%;
    padding: 0;
    list-style-type: none;
}

  a {
    color: #e2e3ed;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight:700;
}

main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2a423a;
  color:#e2e3ed;
}
 
main .content-wrapper {
  padding:1.25em 0;
}


  /*-------------- MOBILE STYLES --------HOME PAGE--------------*/

  /*---HERO AREA----*/

  .hero-area {
    display:flex;
    justify-content:center;
    flex-flow:row wrap;
    background-color: #2a423a;/*for now until i place image*/
    background: url('../img/hero2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100%;
    min-height:28.75em;
}

  .hero-area h1 {
    color: #e2e3ed;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:2.25em;
    width:100%;
    line-height: 1.3;
    margin:0;
}

/*---- ASIDE----*/

  aside {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow:row wrap;
    background-color:#527158;
    color:#e2e3ed;
    padding-bottom: 1.25em;
}

  aside .form-description h3 {
  font-size:1.125em;
}

  aside .form-description p {
    font-size:0.875em;
}

  aside .form h3 {
  font-size:1.125em;
}

  input[type=text] {
    box-sizing: border-box;
    width:100%;
    color:#2a423a;
    font-style: italic;
    padding:1em;
} 

  input[type=button] {
    width:100%;
    padding:1.25em 0;
    margin-top:1.25em;
    background-color: #2a423a;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.125em;
    color: #e2e3ed;
    border: none;
    text-align: center;
    text-transform: uppercase;
}

/*---FEATURE----*/

  .features {
    display:flex;
    justify-content: center;
    align-items:center;
    flex-flow: row wrap;
    background: url("../img/features.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color:#e2e3ed;
}

  .features .content-wrapper h2 {
    font-size:1.875em;
    line-height: 1.3;
}

  .features-items {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-flow:row wrap;
    margin:0;
    padding-bottom:2.5em;
}

  .features-items article {
    width:60%;
}

  .fontawesome-icon {
    display:flex;
    justify-content: center;
    align-items: center;
}

  .features i {        /*for the icons - font awesome*/
    font-size:3.75em;
    margin: 0.75em 0 0.5em 0 ;
}

  .features-item-description {
    text-align: center;
}

  .features-items article p {
    font-size:0.875em;
}


/*---REVIEWS----*/

  .reviews {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow:row wrap;
    color:#e2e3ed;
}

  .reviews .content-wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-flow:row wrap;
}

  .reviews .content-wrapper h2 {
    font-size: 1.875em;
    margin:0;
    margin-bottom:0.625em;
}

  .reviews article {
    display:flex;
    flex-direction: column;
    align-items: center;
}

  article figure {
    width:100%;
}

  .reviews img {
    width:100%;
}

  .reviews .review-heading h4 {
    font-size:1.125em;
    margin:0;
}

  .reviews .review-heading p {
    font-size:0.875em;
}


/*--- Footer---*/

  .footer-content {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color:#e2e3ed;
    width:100%;
}

  footer .contact {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  footer .contact h2 {
    font-size:1.125em;
    font-style: normal;
    margin-bottom:1.25em;
}

  footer .contact p {
    margin:0;
}

  footer .social {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding-top:3.75em;
}

  footer .social h2 {
    font-size:1.125em;
    margin:0;
}

  footer .social-icons {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

  footer .social-icons  i {
    font-size:2em;
    margin:0 0.75em;
    color:#527158;
}

  .copyright {
    display:flex;
    justify-content: center;
    align-items: center;
    color:#e2e3ed;
    padding:1.875em 0;
    font-size:0.875em;
}



/*-----------------MOBILE ----ABOUT PAGE---------------*/

/*---MISSION AREA----*/

  .mission {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background-color:#527158;
}

  .mission .content-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    color:#e2e3ed;
    width:80%;
    padding:3.125em 0;
}

  .mission .mission-content h1 {
    font-size:1.875em;
    line-height: 1.2;
    margin:0;
}

  .mission .mission-paragraph p {
    font-size:0.875em;
    line-height: 1.4;
}

/*--- MAP ----*/


  .map-container {
    margin:0;
    position: relative;
    padding-bottom: 125%;
    height:0;
    overflow: hidden;
    width:100%;
}

  .map-container iframe {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/*---CALL TO ACTION AREA----*/

  main .call-to-action h2 {
    font-size:1.875em;
    margin:0;
}

  .general-contact-info p {
    font-size: 0.875em;
}

  main .general-info h4 {
    font-size:1.125em;
}


/*---------------- MOBILE FAQ-------------*/

/*---FAQ AREA----*/

  main .faq-area {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow:row wrap;
    background-color:#527158;
    padding-bottom: 1.875em;
}

  main .faq-area .content-wrapper {
    padding:0;
}

  main .faq-area .faq-h1 {
    width: 80%;
}

  main .faq-area .faq-h1 h1 {
    font-size:1.875em;
    line-height: 1;
    font-weight: normal;
}

  main .faq-area h4 {
    font-size:1.125em;
    font-weight:normal;
}

  main .faq-area p {
    font-size: 0.875em;;
}

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {

/*---------------------TABLET HOME PAGE-------------*/

/*----HEADER----*/

header .content-wrapper {
  flex-direction:row;
  justify-content: space-between;
  padding-top:2.188em;
}

header figure {
  width:40%;
  margin:0;
  margin-left:4.063em;
  margin-bottom:2.188em;
}

header nav {
  justify-content:space-between;
  width:16%;
  margin-right:4.063em;
  margin-bottom:2.188em;
}

a {
  font-size:1em;
}

.header-divider {
  display:none;
}


/*---HERO AREA----*/

.hero-area {
  width:100%;
}

.hero-area h1 {
  padding-top:1em; 
  font-size:3em;
}

/*---ASIDE AREA----*/

aside {
  width:100%;
  padding:1.875em 0 1.875em 0;
}

aside .content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 0;
}

.form-description {
  width:45%;
}

aside .form-description h3 {
  font-size: 1.5em;
}

.form {
  width: 45%
}

aside .form h3 {
  font-size:1.5em;
}

/*---FEATURES----*/

.features {
  padding:3.125em 0 3.125em 0;
}

.features .content-wrapper h2 {
  font-size:2.125em;
  margin:0;
}

.features-items {
  display:flex;
  flex-flow:row wrap;
  align-items: flex-start;
  padding-bottom:0;
}

.features-items article {
  width:10em;
  padding:0 3.125em;
}


/*---REVIEWS---*/

.reviews {
  padding:5.625em 0 5.625em 0;
}

.reviews .content-wrapper h2 {
  font-size:2.25em;
}

.reviews article {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.reviews figure {
  width:45%;
  margin:0;
}
.review-heading {
  width:50%;
  margin:0;
}

.reviews .review-heading h4 {
  font-size:1.5em;
}



/*---FOOTER ---*/

footer .content-wrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-content {
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin: 3.125em; 
}

footer .contact h2 {
  font-size:1.5em;
  padding-bottom:1.25em;
  margin:0;
}

footer .social h2 {
  font-size: 1.5em;
}

.copyright {
  font-size:0.875em;
}


/*----------------TABLET ABOUT PAGE----------------*/

/*---MISSION AREA----*/

.mission {
  width:100%;
}

.mission .mission-content {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding:0;
}

.mission .mission-content h1 {
  font-size:2.125em;
  margin-bottom:0.5em;
}

.mission-paragraph {
  width:45%;
  margin:0;
}

/*---MAP ----*/

.map-container {
  position: relative;
  padding-bottom: 45%;
  height:0;
  overflow: hidden;
  width:100%;
}

.map-container iframe {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

/*---CALL TO ACTION AREA----*/ 

main .call-to-action {
  padding: 4em 0 4em 0;
  color:#e2e3ed;
}

main .call-to-action h2 {
  font-size: 2.25em;
}

main .general-contact-info {
  display:flex;
  justify-content: space-between;
  flex-flow:row wrap;
}

main .general-info {
  width:50%;
}

main .general-info h4 {
  font-size:1.5em;
}

main .facilitator-info {
  width:50%;
}

main .facilitator-info h4 {
  font-size:1.5em;
}

/*----------------TABLET FAQ PAGE----------------*/

body {
  background-color: black;
}

/*---FAQ AREA---*/

main .faq-area {
  display:flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow:row wrap;
  padding: 1.25em 0 1.875em 0;
}

main .faq-area .faq-h1 h1 {
  font-size: 2.25em;
  font-weight:700;
}

main .faq-area .content-wrapper {
  display:flex;
  justify-content:space-between;
  flex-flow:row wrap;
  padding:0;
}

main .question {
  width: 45%;
}

main .question h4, p {
 font-size: 0.875em;
}

/*---FOOTER ---*/

footer {
  padding-top:5em;
}

footer .footer-content {
  margin:0;
}

footer .social {
  padding-top:0;
}

}

@media only screen and (min-width: 1200px) {

/*---HEADER----*/

header .content-wrapper {
  width:80%;
}
  
header figure {
  width:25%;
  margin-left:0;
}
  
header figure img {
  padding-left:0;
  width:100%;
}
  
header nav {
  margin-right:0;
}

a {
  font-size:1.5em;
  transition-duration: 250ms;
}

a:hover {
  color:#527158;
}

/*---HERO AREA----*/

.hero-area {
  min-height:37.5em;
}
  
.hero-area h1 {
  font-size:3.75em;
}

/*---ASIDE AREA----*/

aside {
  width:100%;
}
  
aside .content-wrapper {
  width:66%;
  justify-content: space-between;
}

aside .form-description {
  width:40%;
}

aside .form-description h3 {
  font-size:1.875em;
}

aside .form-description p {
  font-size:1.125em;
}

aside .form {
  width:40%;
}

aside .form h3 {
  font-size:1.875em;
}

input[type=button] {
  transition-duration: 250ms;
}
input[type=button]:hover {
  background-color: black;
  cursor: pointer;
}

/*---FEATURES----*/

.features {
  padding: 6.25em 0 8.125em 0;
  width:100%;
}

.features .content-wrapper {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow:row wrap;
}

.features h2 {
  font-size:2.25em;
}

.features-items {
  flex-flow:row wrap;
  min-height:37.5em;
  margin-top:3.75em;
  padding-bottom:0;
  max-width: 75em;
  margin:0;
}

.features-items article {
  width:15%;
  padding:0 5em;
}

.features-items article p {
  font-size:1.125em;
}

/*---REVIEWS----*/

.reviews {
  padding:5.625em 0 5.625em 0;
}

.reviews .content-wrapper h2 {
  font-size:2.25em;
  margin-bottom: 0;
  padding-bottom:2em;
}

.reviews figure {
  width:45%;
}

.reviews .review-heading {
  width:45%;
}

.reviews .review-heading h4 {
  font-size:1.875em;
}

.reviews .review-heading p {
  font-size:1.125em;
  line-height: 1.5;
}

/*---FOOTER----*/

.footer-content {
  flex-direction: row;
  justify-content: space-around;
}


/*----------------DESKTOP ABOUT----------------*/

/*---MISSION AREA----*/

.mission .mission-content h1 {
  font-size:3em;
  margin:0;
  padding-bottom:0.4em;
}

.mission .mission-paragraph {
  width: 45%;
}

.mission .mission-paragraph p {
  font-size:1.125em;
}

/*---CALL TO ACTION AREA----*/

main .call-to-action h2 {
  font-size: 3em;
}

main .general-contact-info p {
  font-size:1.125em;
}

main .general-info h4 {
  font-size:1.875em;
}

main .facilitator-info h4 {
  font-size:1.875em;
}

/*---FOOTER----*/

footer .footer-content h2 {
  font-size: 1.875em;
}

footer .footer-content p {
  font-size: 1.125em;
}

.copyright {
  font-size: 1.125em;
}

/*----------------DESKTOP FAQ----------------*/

/*---FAQ AREA----*/

main .faq-area h1 {
  font-size: 3em;
}

main .question h4 {
  font-size:18px;
}

main .question p {
  font-size: 1.125em;
}

.copyright {
  padding-top:4.375em;
}

}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

